@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

body {
  /* background: #f2f2f2; */
}

.container  {
  position: relative;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%);
  height: 50vh;
  width: 30vw;
  min-width: 350px;
  background: #4c566a;
  
  /* background: #4c566a50 */
  ;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #00000050;
}

.content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  color: white;
  padding: 40px;
  
  /* font-family: 'Merriweather', serif; */
}

h1 {
    font-weight: 900;
    text-align: center;
}

h3 {
  font-weight: 300;
  
}

.flap {
    width: 100%;
  height: 100%;
}

.flap::before {
    position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left:0;
  background: url("../assets/dots.png")  #a3be8c;
  background-position: 0px;
  background-repeat: repeat;
  background-size:30%;
  transition: 1s;
}

.flap::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url("../assets/dots.png")  #a3be8c;
  /* filter: blur(2px); */
  /* background-position: -100px; */
  background-position: -10px;
  background-repeat:round;
  background-size:30%;

  /* background-repeat: no-repeat; */
  transition: 1s;
}

.container:hover .flap::after {
  transform: translatex(300px);
}

.container:hover .flap::before{
  transform: translatex(-300px);
}


@media (hover: none) and (pointer: coarse){
    .flap{
        display: none;

    }

    .container{
        /* background-color: #a3be8c; */
    }
}


.subject{
    color: #d08770;
    font-weight: bolder;
    
}

.institute{
    color:#ebcb8b;
    font-weight: bolder;
    
}

.duration{
    color:#b48ead;
    font-weight: bolder;
    
}