.gif-container{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    /* max-height: 50vh; */
    background-color: #4c566a;
    border-radius: 3vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    box-shadow: 0 0 20px 8px #00000021;
}

.gif img{
    /* float: left */
    width: 30rem;
    border: 7px solid #b48ead;
    border-radius: 20px;
}
.gif{

    
}
.gif-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 50rem;

    margin-left: 2vw;
    align-items: center!important;

    /* float: left; */
}

.gif-content .title{
    margin: 0.2rem;
    /* color: #d08770; */
    color:  #b48ead ;

    /* float: left; */
}
.gif-content .skill{
    margin: 0.2rem;
    /* color: #d08770; */
    color:  #a3be8c ;

    /* float: left; */
}

@media screen and (max-width:1000px) {
    .gif-container{
        display: block;
    }
    
    .gif img{
        width: 20rem;
    }
    .gif-content{
        text-align: center;

    }
}


.btn{
    background-color: transparent;
    border: 5px solid #a3be8c;
    border-radius: 500px;
    margin: 1rem;
    padding: 0px;
    transition: all .5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.btn:hover{
    background-color: #a3be8c;
}


.btn a{
    color: white;
    text-decoration: none;
    padding:10px 30px;
    font-size: 1.3rem;
    padding-top: 0px!important;
}

