* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.banner {
  background: url('./assets/banner_gif_med.gif');
  background-position: center 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 350px; */
  height: 25rem;

  /* filter: blur(5px); */

}




@media screen and (max-width:550px) {
  .banner {
    /* background: url('../assets/banner2.png'); */
    background-size: cover;
    /* background-position: 30% 80%; */
    height: 15rem;


  }

  div.b {
    position: sticky;
    margin-top: -8rem;
  }


}

@media screen and (min-width:551px) {
  .banner {
    /* background: url('../assets/banner2.png'); */
    background-size: cover;
    /* background-position: 30% 80%; */
    height: 15rem;


  }

  div.b {
    position: sticky;
    margin-top: -8rem;
    /* margin-bottom: -13rem!important; */
    /* overflow: hidden; */
  }


}


@media screen and (min-width:800px) {
  .banner {
    /* background: url('../assets/banner2.png'); */
    background-size: cover;
    /* background-position: 30% 80%; */
    height: 25rem;


  }

  div.b {
    position: sticky;
    margin-top: -13rem;
    /* margin-bottom: -13rem!important; */
    /* overflow: hidden; */
  }


}

section#header {
  /* transform: translatey(0); */
  /* background: linear-gradient( #f9932a, #b1452a); */
  /* padding-top:5vh; */
  /* padding-bottom:5vh; */
  /* height: 100vh; */
  /* max-height: max-content; */

}

section#about {
  /* height: 100vh; */
  /* margin-top: 10vh; */
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #a3be8c;

  /* background-color: #a3be8c; */
}

section#projects {
  background-color: #b48ead;
  /* height: 100vh; */
  /* margin-top: 10vh; */
  padding-top: 5vh;
  padding-bottom: 5vh;
}



.section-title {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}


@media (hover: none) and (pointer: coarse) {
  section#about {
    /* background-color: #a3be8c; */
  }
}